@charset "UTF-8";
/*
* @subsection   RD Navbar
* @description  Describes style declarations for RD Navbar extension
*/

.rd-navbar, .rd-navbar.rd-navbar--is-clone {
  display: none;
}

.rd-navbar-fixed,
.rd-navbar-static,
.rd-navbar-fullwidth,
.rd-navbar-sidebar {
  display: block;
}

.rd-navbar-static {
  background: #fff;
}

.rd-navbar-static .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-megamenu {
  position: absolute;
  padding: 8px 0;
  color: #999;
  background: #fff;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.10));
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}

.rd-navbar-static .rd-navbar-dropdown li > a,
.rd-navbar-static .rd-navbar-megamenu li > a {
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 16px;
}

.rd-navbar-static .rd-navbar-megamenu {
  margin-top: 10px;
  left: 0;
  right: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 16px 8px;
}

.rd-navbar-static .rd-navbar-megamenu > li {
  display: table-cell;
}


.rd-navbar-static .rd-navbar-nav > li {
  display: inline-block;
}

.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown, .rd-navbar-static .rd-navbar-nav > li > .rd-navbar-megamenu {
  top: 100%;
  z-index: 1;
}

.rd-navbar-static .rd-navbar-nav > li.active > a, .rd-navbar-static .rd-navbar-nav > li.opened > a, .rd-navbar-static .rd-navbar-nav > li.focus > a, .rd-navbar-static .rd-navbar-nav > li > a:hover {
  color: black;
}


.rd-navbar-fixed .rd-navbar-nav-wrap {
  position: fixed;
  top: -56px;
  left: 0;
  width: 232px;
  padding: 112px 0 56px;
  bottom: -56px;
  color: #999;
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 15;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

.rd-navbar-fixed .rd-navbar-nav-wrap.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.rd-navbar-fixed .rd-navbar-nav {
  display: block;
  height: 100%;
  overflow: auto;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

.rd-navbar-fixed .rd-navbar-nav:before, .rd-navbar-fixed .rd-navbar-nav:after {
  content: '';
  display: block;
  height: 8px;
}

.rd-navbar-fixed .rd-navbar-nav li > a {
  display: block;
  padding: 11px 56px 11px 16px;
  color: #333;
}

.rd-navbar-fixed .rd-navbar-nav li.opened > a, .rd-navbar-fixed .rd-navbar-nav li a:hover {
  background: #f2f2f2;
}

/* Не удалять то что выше */


/*
* @subsection   RD Navbar Brand
*
* @description  Describes style declarations for RD Navbar brand
*/
.rd-navbar-brand {
  display: none;
  color: #333;
}

.rd-navbar-static .rd-navbar-brand {
  display: inline-block;
  float: left;
}

.rd-navbar-static .rd-navbar-brand > * {
  display: inline-block;
  vertical-align: middle;
}


.rd-navbar-static .rd-navbar-brand > a {
  font-size: 36px;
  line-height: 48px;
}

/*
* @subsection   RD Navbar Toggles
*
* @description  Describes style declarations for RD Navbar panel
*/

.rd-navbar-fixed .rd-navbar-toggle {
  position: fixed;
  z-index: 17;
  top: 4px;
  left: 4px;
}
